In [1]:
a = 3
print(a)

3

## Ceci est un titre

Bonjour tout le monde

In [4]:
print("J'ai " + str(40) + " ans")

J'ai 40 ans

In [5]:
# Ceci est un commentaire

"""
Ceci est une
docstring
Je peux ecrire sur plusieurs ligne
"""

'\nCeci est une\ndocstring\nJe peux ecrire sur plusieurs ligne\n'

In [7]:
a = 4
b = 6
a = b
b = 7
print(a)

6

In [14]:
a = 2.4

b  ="Bonjour"

c = True

d = None

liste = [2,4,6,7]

ma_liste = [ 2, True, "Bonjour", 5]

print( ma_liste[1])

print(len(ma_liste))

print(type(a))

True
4
<class 'float'>

In [20]:
a = 4 + 6
a = 4 + int("6")

age = 42
ma_chaine = "J'ai " + str(age) + " ans"
print(ma_chaine)

J'ai 42 ans

In [23]:
dico = {"nom": "BOLNET", "prenom": "Mickael", "age" : 32}

print(dico['nom'])
print(dico['prenom'])

BOLNET
Mickael

In [24]:
dico = {True : "Hello", 4 : [32,34,31], "classe": {"nom" : "CM2", "taille": 32}}

In [29]:
print(dico["classe"]["taille"])

{True: 'Hello', 4: [32, 34, 31], 'classe': {'nom': 'CM2', 'taille': 32}}

In [30]:
print("dico")
print(dico)

dico
{True: 'Hello', 4: [32, 34, 31], 'classe': {'nom': 'CM2', 'taille': 32}}

In [32]:
print(["Bonjour"]*5)

['Bonjour', 'Bonjour', 'Bonjour', 'Bonjour', 'Bonjour']

In [33]:
position = (3,4)
print(position)

(3, 4)

In [35]:
position = (4,4)

In [44]:
ma_liste = [3,4,5,1,9,0,14,7,5]

# 1 - Du premier au 5e
print(ma_liste[:5])
# 2 - Du 3e au 6e
print(ma_liste[2:6])
# 3 - Un élément sur 2
print(ma_liste[::2])
# 4 - De l'avant dernier au 2e avec un pas de 2
print(ma_liste[-2:0:-2])

[3, 4, 5, 1, 9]
[5, 1, 9, 0]
[3, 5, 9, 14, 5]
[7, 0, 1, 4]

In [51]:
name = input("Quel est votre nom ?")
age = int(input("Quel es tvotre age ? "))

Quel est votre nom ?Mickael
Quel es tvotre age ? 28

In [52]:
print("Je m'appelle %s et j'ai %d ans."%(name, age))

Je m'appelle Mickael et j'ai 28 ans

In [54]:
print("Je m'appelle %(nom)s et j'ai %(age)d ans. Vous avez aussi %(age)d ans ?"%{"nom" : ["Mickael", "Lydia"], "age" : age})

Je m'appelle ['Mickael', 'Lydia'] et j'ai 28 ans. Vous avez aussi 28 ans ?

In [56]:
a = 3

if a % 2 == 0 :
    print("Pair")
    print("Encore dans la branche")
print("Hors de la branche")

Hors de la branche

In [61]:
# Afficher [nom] est majeur  mineur en fonction de son age
name = input("Quel est votre nom ?")
age = int(input("Quel est votre age ? "))
genre = input("H / F ?")

genre = "e" if genre == "F" else ""
if age >= 18:
    print("%s est Majeur%s"%(name, genre))
else:
    print("%s est Mineur%s"%(name, genre))

Quel est votre nom ?Laeticia
Quel est votre age ? 34
H / F ?F
Laeticia est Majeure

In [60]:
print( ("%s est "%name) + ("majeur" if age >= 18 else "mineur") )

Mickael est mineur

In [63]:
i = 0 

while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [65]:
for i in [1 , 8 , 12, True, [143, False]]:
    print(i)

1
8
12
True
[143, False]

In [67]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
print([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
ma_liste = [2,5,3,7,8]
liste_fois2 = [2*elm for elm in ma_liste]
print(liste_fois2)

[4, 10, 6, 14, 16]

In [77]:
# Comprehensive list avec un filtre
print([elm for elm in ma_liste if elm < 5])
# Comprehensive list avec une ternaire
print([('pair' if elm % 2 == 0 else 'impair') for elm in ma_liste])

In [78]:
print(liste_parite)

[2, 3]

In [88]:
liste_personnes = [
    {"nom": "Georges", "age": 56},
    {"nom": "Helene", "age": 63},
    {"nom": "Mathieu", "age": 42},
    {"nom": "Lola", "age": 16},
    {"nom": "Ella", "age": 26}
]

# Afficher le nom de tout ceux qui ont moins de trente ans
print( [personne["nom"] if personne["age"] >18 else "mineur" for personne in liste_personnes if personne["age"] < 30] )

['mineur', 'Ella']

In [86]:
for i in liste_personnes:
    print(i["nom"])

Georges
Helene
Mathieu
Lola
Ella

In [105]:
# Fizz Buzz : 
# Tous les multiples de 3 sont remplacés par "fizz"
# Tous les multiples de 5 sont remplacés par "buzz" 
# Tous les multiples de 3 et 5 sont remplacés par "bazz" 
# Affiche : 1 2 fizz 4 buzz ...
liste_resultat = [i for i in range(20)]
print(liste_resultat)

for i  in range(len(liste_resultat)):
    if i == 0:
        continue
    if liste_resultat[i] % 3 == 0 and liste_resultat[i] % 5 == 0 :
        liste_resultat[i] = "bazz"
    elif liste_resultat[i] % 3 == 0 :
        liste_resultat[i] = "fizz"
    elif liste_resultat[i] % 5 == 0 :
        liste_resultat[i] = "buzz"

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [106]:
print(liste_resultat)

[0, 1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'bazz', 16, 17, 'fizz', 19]

In [99]:

for i,j in zip(range(15,40), range(10,35)):
    print("%d - %d"%(i,j))

15 - 10
16 - 11
17 - 12
18 - 13
19 - 14
20 - 15
21 - 16
22 - 17
23 - 18
24 - 19
25 - 20
26 - 21
27 - 22
28 - 23
29 - 24
30 - 25
31 - 26
32 - 27
33 - 28
34 - 29
35 - 30
36 - 31
37 - 32
38 - 33
39 - 34

In [101]:
from itertools import product

for i,j in product(range(15,20), range(10,15)):
    print("%d - %d"%(i,j))

15 - 10
15 - 11
15 - 12
15 - 13
15 - 14
16 - 10
16 - 11
16 - 12
16 - 13
16 - 14
17 - 10
17 - 11
17 - 12
17 - 13
17 - 14
18 - 10
18 - 11
18 - 12
18 - 13
18 - 14
19 - 10
19 - 11
19 - 12
19 - 13
19 - 14

In [103]:
ma_liste = [ 8, 4, 2, 5, 1]
for j in range(len(ma_liste)-1):
    for i in range(len(ma_liste)-1):
        if ma_liste[i+1] < ma_liste[i]:
            a= ma_liste[i+1]
            ma_liste[i+1] = ma_liste[i]
            ma_liste[i] = a
        
print(ma_liste)

[1, 2, 4, 5, 8]

In [104]:
ma_liste = [ 8, 4, 2, 5, 1]
for j in range(len(ma_liste)-1):
    for i in range(len(ma_liste)-1):
        if ma_liste[i+1] < ma_liste[i]:
            ma_liste[i:i+2] = ma_liste[i:i+2][::-1]
        
print(ma_liste)

[1, 2, 4, 5, 8]

In [112]:
a = 5
def mul(a,b):
    return a * b

mul(12, 2)

24

In [135]:
def principale(a,b):
    print(b)
    print(a(b))
    
def sec1(a):
    print(a)
    return 4
    
def sec2(a=4):
    print("Bonjour !!")
    return 6,4

print(sec2())

principale(lambda x:x*4, 4)

Bonjour !!
(6, 4)
4
16

In [129]:
a = 15
def dire_bonjour(name, name1="Baptiste", name2="Eloise"):
    """
    Ma fonction pour dire bonjour
    """
    global a
    a = 2
    print(a)
    print("Bonjour "+ name)
    print("Bonjour "+ name1)
    print("Bonjour "+ name2)
    
a = 14
dire_bonjour("Mylenne", "Robin")
print(a)
# dire_bonjour("Mylenne", name2="Robin")

2
Bonjour Mylenne
Bonjour Robin
Bonjour Eloise
2

In [136]:
def every_other(a,b):
    while a<b:
        yield a
        a +=2
        
for i in every_other(2,8):
    print(i)

2
4
6

In [147]:
import numpy as np

def prime(debut, fin):
    a = debut
    while a < fin:
        # check if a is prime
        a_is_prime = True
        for i in range(2,int(np.sqrt(a))+1):
            if a % i == 0:
                a_is_prime = False
                
        # if True yield a
        if a_is_prime:
            yield a
            
        # then a += 1
        a += 1
        
for i in prime(4,21):
    print(i)

TypeError: 'int' object is not iterable

In [139]:
help(sqt)

NameError: name 'sqt' is not defined

In [144]:
int(np.sqrt(12))

3

In [174]:
import re

print(re.findall("(GR[^aA]S)", "le temps est GRiS. J'ai mangé comme un GROS. C'était bien GRaS"))

['GRiS', 'GROS']

In [ ]:
# Je m'appelle {{ nom }} {{ prenom }}